<%- include("header.ejs") %>

<% if (locals.blog) { %>
    <div class="blog-container" id="edit-container">
        <form action="/updateblog" method="post">
            <input type="hidden" name="id" value="<%= blog.id %>">
            <textarea name="content"><%= blog.content %></textarea>
            <button>Save Changes</button>
        </form>
    </div>
<%}else {%>
<div class="blog-container" id="edit-container">
    <form method="post" action="/addblog">
        <textarea name="text" id="text" placeholder="write here."></textarea>
        <button>Add</button>
    </form>
</div>
<% } %>