body{
    margin: 0px;
    background-color: #fff8f6;
}
a{
    color: black;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: #fff8f6;
}

::-webkit-scrollbar-thumb {
    border: 6px solid #fff8f6;
    background-color: #000000;
    min-height: 24px;
    min-width: 24px;
}
::-webkit-scrollbar-track {
    border: 8px solid #fff8f6;
    background-color: #eeeeee;
}
header{
    padding-top: 5px;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
    width: 100%;
    gap: 10px;
    z-index: 11;
}
.add{
    margin-right: 8px;
}

.blog-container{
    margin-top: 20vh;
    margin-left: 50vw;
    margin-right: auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    position: relative;
}

.blog-card{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebeb;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 10px;
}
#first-card{
    position: fixed;
    top: 20vh;
    left: 28vw;
    padding: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
}
#first-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#first-text p{
    width: auto;
}
.blog-card img{
    padding-top: 10px;
}
.content{
    width: 100%;
}
.content p{
    width: 100%;
}
.date{
    padding: 10px;
    width: 100% ;
    border-top: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
}
.options{
    display: flex;
    gap: 10px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form textarea{
    width: 100%;
    height: 50vh;
    border: 1px solid #ebebeb;
    font-family:"Times New Roman", Times, serif; 
    font-size: 18px;
}
textarea:focus, input:focus{
    outline: 0;
}
#edit-container{
    margin-left: auto;
}

*:focus {
    outline: 0;
}
button{
    background-color: white;
    border: 1px solid #ebebeb;
    padding: 10px;
    margin-top: 20px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(233, 233, 233);
    border: 1px solid #ebebeb;
    padding: 10px;
    margin-top: 20px;
}
a{
    fill: #909090;
}
a:hover{
    fill: #353535;
}

@media screen and (max-width: 1200px) {
    #first-card{
        position: initial;
        padding: 10px;
        font-family: "Lato", sans-serif;
        font-weight: 500;
    }
    header{
        padding-right: 3%;
    }
    .blog-container{
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 20vh;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        position: relative;
    }
  }